.App {
  text-align: center;
  background-color: #282c34;
  margin: 0 auto;
  max-width: 1600px;
  width: 90%;
  height: 100vh;
  border-radius: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  padding: 60px;
  padding-bottom: 30px;
  color: white;
}

.question-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  width: 90%;
}

.question-input {
  width: 27%;
  padding: 7px;
  font-size: 16px;
  border-radius: 7px;
}

.ask-button {
  width: 12%;
  border-radius: 7px;
  padding: 3px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
}

.App-link {
  color: #61dafb;
}
