.App {
  text-align: center;
  background-color: #282c34;
  margin: 0 auto;
  max-width: 1600px;
  width: 90%;
  height: 100vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ask-div {
  background-color: lightgray;
  border-radius: 15px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  justify-content: center;
  font: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  padding: 60px;
  padding-bottom: 20px;
  color: white;
}

.question-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  width: 90%;
}

.question-input {
  width: 40%;
  padding: 7px;
  font-size: 15px;
  border-radius: 7px;
}

.ask-button {
  width: 20%;
  border-radius: 7px;
  padding: 4px;
  margin-top: 18px;
  font-weight: bold;
  font-size: 16px;
  background-color: darkgray;
  box-shadow: 0px 1px;
}

.ask-button:hover{
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}
